:root {
  --roboto-font: "Roboto", system-ui;
  --playwrite-font: "Playwrite PT", system-ui;
}

.App .container {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: var(--roboto-font);
}

header {
  padding: 20px;
  font-size: 24px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 20px;
  padding: 20px;
  font-size: 10px;
  color: rgb(102, 102, 102);
}

footer a {
  color: #95a359;
}

@media (max-width: 1024px) {
  .App .container {
    background-image: url("./background-sm.jpg");
  }
}

@media (max-width: 768px) {
  .App header {
    font-size: 18px;
  }

  footer {
    font-size: 8px;
    color: rgb(223, 220, 211);
  }

  footer a {
    color: #d0daa4;
  }
}
