.Dictionary form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.Dictionary input {
  font-family: var(--roboto-font);
  min-width: 50%;
  border: solid 2px #95a359;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 768px) {
  .Dictionary input {
    font-size: 12px;
  }
}
